<div class="jumbotron">
    <div class="container">
    <h1 class="display-3">{{title}}!</h1>
    <p>Hosted on <strong>{{hostname}}</strong> using AWS ECS Fargate</p>
    <p><a href="https://github.com/petereskandar/cloud-phoenix-kata" target="_blank">GitHub repository</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="crash" data-toggle="list" href="#list-crash" role="tab" aria-controls="home">Crash</a>
            <a class="list-group-item list-group-item-action" id="certificateGenerator" data-toggle="list" href="#list-certificateGenerator" role="tab" aria-controls="profile">Certificate Generator</a>
            <a class="list-group-item list-group-item-action" id="CheckDB" data-toggle="list" href="#list-CheckDB" role="tab" aria-controls="profile">Check DB Connection</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-crash" role="tabpanel" aria-labelledby="crash">
                {{> tab endpoint='http://phoenix.petereskandar.com/crash'}}
            </div>
            <div class="tab-pane fade" id="list-certificateGenerator" role="tabpanel" aria-labelledby="certificateGenerator">
                {{> tab endpoint='http://phoenix.petereskandar.com/generatecert' tryEndpoint='http://phoenix.petereskandar.com/certRender' }}
            </div>
             <div class="tab-pane fade" id="list-CheckDB" role="tabpanel" aria-labelledby="CheckDB">
                {{> tab endpoint='http://phoenix.petereskandar.com/checkdbConn' tryEndpoint='http://phoenix.petereskandar.com/checkdbConn' }}
            </div>
            </div>
        </div>
    </div>
</div>